/* Container holding the image and the text */
.container {
  position: relative;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 5%;
  background-color: blue;
  width: 10%;
  height: 5%;  
}

.bottom-left p {
    font-size: 75%;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}