/* Root Styling */
:root{
	--light:rgb(190, 146, 118);
	--dark:rgb(101, 100, 100);
	--darker:rgb(83, 82, 82);
	--green:rgb(135, 140, 130);
}
/* Global Styling */
* {
    box-sizing: border-box;
}

/* Body stylin */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

main {
	display: flex;
	flex-wrap: wrap;
}

header {
	padding: 1% 0 1% 0;
	background-color: var(--dark);
	display: flex;
	height: 125px;
	font-size: 40px;
	font-weight: bolder;
	flex: 1 1 1;
}

header h1 {
	padding: 1%;
	font-size: 110%;
	background-color: var(--light);
	color: var(--darker);
	width: 500px;
	height: 100px;
	text-align: right;
	flex: 1 1 1;
}

nav {
	width: 80%;
	display: flex;
	justify-content: end;
	align-items: center;
	flex: 1 1 1;
}

nav ul {
	display: inline-flex;
	justify-content: space-between;
	font-size: 60%;
	padding-right: 2%;
	width: 80%;
}

a {
	color: var(--light);
	text-decoration: underline 5px var(--light);
	justify-content: end;
}

a:hover {
	color: orange;
	text-decoration: underline 5px orange;
}

.motto {
	position: absolute;
	right: 0px;
	top: 220px;
	padding: 1%;
	font-size: 200%;
	background-color: var(--light);
	color: var(--darker);
	width: 30%;
	text-align: right;
	font-weight: bolder;
	flex: 1 1 1;
}

/* Start of Main Sections Content Styling */
.titles {
    display: flex;
    padding: 0% 0% 0% 5%;
	flex: 1 1 1;
}

/* "About Me", "Work" and "Contact Me" Sections Titles' Styling */
.titles h2 {
    display: flex;
    font-size: 40px;
	font-weight: bolder;
	color: var(--green);
	width: 10%;
	text-align: right;
	justify-content: end;
	margin: 2% 5% 0% 0%;
}

/* "About Me" and "Contact Me" Section Contents' Styling */
.flex-row {
    align-items: center;
    width: 80%;
	border-left: var(--green) solid 4px;
	margin: 1% 0% 1% 0%;
	padding: 2% 0% 2% 2%;
}

.flex-row p {
	padding: 0.75% 0 0.5% 0;
}

.flex-row ul {
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 5%;
	padding-left: 2%;
	width: 100%;
	text-align: center;
	padding-right: 3%;
}

.card1 {
	flex: 1 1 1;
	margin-right: 1%;
}

.card1 img {
	border: solid var(--light) 5px;
	margin-bottom: 5px;
	max-width: 105%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	opacity: 0.8;
}

.card1 img:hover {
	box-shadow: 0px 0px 15px var(--light);
	-webkit-transform: scale(1.005);
	transform: scale(1.005);
	opacity: 1;
	cursor: grab;
}

.card1 aside h3 {
	display: flex;
	background-color: var(--light);
	color: var(--darker);
	font-weight: bolder;
	font-size: 130%;
	position: relative;
	top: 600px;
	width: 170px;
	height: 60px;
	padding-left: 1%;
	z-index: 1;
}

.card1 aside p {
	display: flex;
	color: var(--darker);
	font-size: 80%;
	position: relative;
	top: 565px;
	padding-left: 1%;
	z-index: 1;
}

.card2 {
	flex: 1 1 1;
	margin-right: 1%;
}

.card2 img {
	max-height: 366px;
	border: solid var(--light) 5px;
	max-width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	opacity: 0.8;
	display: block;
}

.card2 img:hover {
	box-shadow: 0px 0px 15px var(--light);
	-webkit-transform: scale(1.005);
	transform: scale(1.005);
	opacity: 1;
	cursor: grab;
}

.card2 aside h3 {
	display: flex;
	background-color: var(--light);
	color: var(--darker);
	font-weight: bolder;
	font-size: 130%;
	position: relative;
	top: 350px;
	width: 170px;
	height: 60px;
	padding-left: 1%;
	z-index: 1;
}

.card2 aside p {
	display: flex;
	color: var(--darker);
	font-size: 80%;
	position: relative;
	top: 315px;
	padding-left: 1%;
	z-index: 1;
}

.image-cover {
	position: relative;
	overflow: hidden;
}

.image-cover > img {
	object-fit: cover;
	object-position: center;
}

.image-cover:hover {
	box-shadow: 0px 0px 8px var(--light);
}

footer {
	text-align: center;
	padding: 3%;
}

footer ul {
	justify-content: space-between;
	text-align: center;
	display: flex;
	padding: 2% 4% 0% 4%;
}

footer li {
	display: inline;
	font-size: 80%;
	color: var(--dark);
}




/* media query for larger screens */
/* @media screen and (min-width: 992px) {
	.header {
		width: 100%;
	}

	.nav ul {
		display: block;
	}
	
	.card2 {
		width: 100%;
	}
	
	/*body {
		background: #8ac4ff;
	  }*/
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
	/* on tablets, set columns to only be 50% of the width and not grow */
	main,
	nav,
	.titles {
		flex-direction: column;
	}

	.card2 {
	  width: 100%;
	}

  	
	body {
		background-color: pink;
	}
} */