/* Root Styling */
:root{
	--light:rgb(190, 146, 118);
	--dark:rgb(101, 100, 100);
	--darker:rgb(83, 82, 82);
	--green:rgb(135, 140, 130);
}
/* Global Styling */
* {
    box-sizing: border-box;
}

/* Body stylin */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
}

header {
	padding: 1% 0 1% 0;
	background-color: var(--dark);
	display: flex;
	height: 125px;
	font-size: 40px;
	font-weight: bolder;
	display: flex;
}

header h1 {
	padding: 1%;
	font-size: 115%;
	background-color: var(--light);
	color: var(--darker);
	width: 400px;
	height: 100px;
	text-align: right;
}

nav ul {
	
	position: absolute;
	right: 0%;
	top: 8%;
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	font-size: 60%;
	justify-content: space-between;
}

a {
	color: var(--light);
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: orange;
	font-style: normal;
	text-decoration: none;
}

.motto {
	position: absolute;
	right: 0px;
	top: 220px;
	padding: 1%;
	font-size: 200%;
	background-color: var(--light);
	color: var(--darker);
	width: 30%;
	text-align: right;
	font-weight: bolder;
}

/* Start of Main Sections Content Styling */
.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* "About Me", "Work" and "Contact Me" Sections Titles' Styling */
.titles h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
	font-weight: bolder;
	color: var(--green);
	width: 10%;
	text-align: right;
	padding-left: 80px;
}

/* "About Me" and "Contact Me" Section Contents' Styling */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
	border-left: var(--green) solid 4px;
	margin: 1% 0% 1% 0%;
	padding-left: 2%;
}

.flex-row p {
	padding: 0.75% 0 0.5% 0;
}

.flex-row ul {
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 5%;
	padding-left: 2%;
	width: 200%;
	text-align: center;
	padding-right: 3%;
}

.card1 {
	width: 100%;
	margin-right: 1%;
}

.card1 img {
	width: 100%;
	border: solid var(--light) 5px;
	margin-bottom: 5px;
}

.card1 img:hover {
	box-shadow: 0px 0px 8px var(--light);
}

.card2 {
	width: 100%;
}

.card2 img {
	width: 49.3%;
	height: 366px;
	border: solid var(--light) 5px;					
}

.card2 img:hover {
	box-shadow: 0px 0px 8px var(--light);
}

.image-cover {
	position: relative;
	overflow: hidden;
}

.image-cover > img {
	object-fit: cover;
	object-position: center;
}

.image-cover:hover {
	box-shadow: 0px 0px 8px var(--light);
}

footer {
	text-align: center;
	padding: 3%;
}




/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
	/* on tablets, set columns to only be 50% of the width and not grow */
	.card-column {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
	
	/* select the last child to grow to full width if it has space to grow */
	.card-column:last-child {
	  flex-grow: 1;
	}
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
	header {
	  width: 100%;
	}
  
	.card2 {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  