/* Global Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body stylin */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
}

header {
	padding: 1% 0 1% 0;
	background-color: rgb(101, 100, 100);
	display: flex;
	height: 125px;
	font-size: 40px;
	font-weight: bolder;
	display: flex;
}

header h1 {
	padding: 1%;
	font-size: 115%;
	background-color: rgb(190, 146, 118);
	color: rgb(83, 82, 82);
	width: 35%;
	text-align: right;
}

nav ul {
	
	position: absolute;
	right: 0%;
	top: 8%;
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	font-size: 60%;
	justify-content: space-between;
}

a {
	color: rgb(190, 146, 118);
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: orange;
	font-style: normal;
	text-decoration: none;
}

.motto {
	position: absolute;
	right: 0%;
	top: 33%;
	padding: 1%;
	font-size: 200%;
	background-color: rgb(190, 146, 118);
	color: rgb(83, 82, 82);
	width: 30%;
	text-align: right;
	font-weight: bolder;
}

/* Start of Main Sections Content Styling */
.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* "About Me" and "Contact Me" Sections Titles' Styling */
.titles h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    color: rgb(83, 82, 82);
	margin-left: 12%;
	width: 5%;
	text-align: right;
}

/* "About Me" and "Contact Me" Section Contents' Styling */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
	border-left: rgb(190, 146, 118) solid 4px;
	margin-bottom: 1%;
	padding-left: 2%;
}

.flex-row p {
	padding: 0.75% 0 0.5% 0;
}

.titles li {
	
	flex 1 1 30%
	display: inline;
	justify-content: space-between;
	margin-bottom: 1%;
	padding-left: 2%;

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 20%;
    }
}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
      width: 95%;
    }
  
    .section p {
      width: 100%;
    }
}
  